services:
  db:
    image: postgres:16
    container_name: manufacturing-db
    environment:
      POSTGRES_DB: manu_facturing
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
